.debug {
    border: 2px solid red;
}

.debug2 {
    border: 1px solid green;
}

.debug3 {
    border: 1px solid blue;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF159;
    height: 100px;
    width: 1512px;
    padding-left: 166px;

}

.headerdiv {

    height: 92px;
    width: 1200px;
    left: 156px;
    margin: 0px;
}

.divbuscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

.barranav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav1 {
    height: 36px;
    width: 785px;
    left: 10px;
    top: 56px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav2 {
    margin-left: 100px;
}

.searchcontainer {
    margin-left: 52px;
}

main {
    height: 3586px;
    width: 1512px;
    left: 0px;
    top: 100.5px;
    background: #EBEBEB;

}



.botonnav {
    height: 39px;
    width: 598px;
    left: 1px;
    top: 8px;
    border-radius: 2px;
    background-color: white;
    padding-left: 15px;
}

.imagenG {
    height: 340px;
    width: 1512px;
}

.sec1 {
    height: 9 0px;
    width: 1184px;
    margin-left: 164px;
    margin-top: 40px;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;

}

.rowsec {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.div2sec1 {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;

    margin-top: 9px;

}

.sec1span {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #3483FA;

}

.sec2 {

    width: 1190px;
    margin-left: 156px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;

}

.titulo {

    font-family: Roboto;
    font-size: 25px;
    font-weight: 300px;
    text-align: left;
    color: #666666;
}

.tcomp {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #3483FA;
}

.signo {
    font-family: Roboto;
    font-size: 24px;
}

.valor {
    font-family: Roboto;
    font-size: 23px;
    text-align: left;
    width: 170.31px;
    height: 24px;
    display: flex;
    justify-content: space-around;

}

.des {
    margin: 5px;
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #00A650;
}

.env {
    font-family: Roboto;
    font-size: 13px;
    margin-left: 4px;
    font-weight: 600;
    text-align: left;
    color: #00A650;
}

.full {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 125px;
}

.sec2contain {
    height: 350px;
    width: 224px;
    left: 8px;
    border-radius: 4px;
    margin-top: 21px
}

.sec3 {
    height: 340px;
    width: 1190px;
    margin-left: 156px;
    margin-right: 166px;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
}

.cont1sec3 {
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cont2sec3 {
    margin-right: 24px;
    display: flex;
    flex-direction: row;

}

.cont3sec3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #FFFFFF;
}

.cont4sec3 {
    margin-top: 20px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.cont5sec3 {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cont6sec3 {
    display: flex;
    align-items: center;
}

.spansec3 {
    margin-left: 6px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 16px;
}

.divboton {
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.btonsec3 {
    border: #3483FA ;
    margin-right: 30px;
    margin-bottom: 16px;
    height: 48px;
    width: 123.71875px;
    left: 1026.28125px;
    top: 17px;
    border-radius: 6px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    background-color: #3483FA;
}

.suscrib {
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 24px;
}

.sec4 {
    display: flex;
    flex-direction: row;
}

.sec4 {
    display: flex;
    flex-direction: row;
}

.sec5 {
    display: flex;
    flex-direction: row;
}

.sec {
    display: flex;
    flex-direction: row;
}

.fcont7 {
    display: flex;
    flex-direction: row;
}

.intsec7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgse7 {
    border-width: 0px, 1px, 1px, 0px;
    border-style: solid;
    border-color: #EAE6E6;
}

.segcont7 {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-left: 16px;
}

.tsec7 {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;

}

.sosec7 {
    font-family: Roboto;
    font-size: 26px;
    color: #666666;
    font-weight: 600;
}

.rowse7 {
    width: 344.67px;
    margin-left: 156px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contse7 {
    margin-left: 156px;
    height: 384px;
    width: 383px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.sec7tex1 {
    font-family: Roboto;
    color: #4B4B4B;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 4px;
    text-align: left;

}

.sec7tex2 {
    font-family: Roboto;
    color: #4B4B4B;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;


}

.divcon7 {
    font-family: Roboto;
    height: 99px;
    width: 358px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sec8 {
    font-family: 'Roboto';
}

.tsec8 {

    font-weight: 300;
    font-size: 25px;
    margin-left: 158px;
    color: #666666;
}

.dsec8 {
    height: 340px;
    width: 1190px;
    margin-left: 158px;
    display: flex;
    flex-direction: row;
}

.contsec8 {
    height: 340px;
    width: 170px;

    display: flex;
    flex-direction: column;
}

.intsec8 {
    height: 170px;
    width: 170px;
    border-width: 0px, 1px, 1px, 0px;
    border-style: solid;
    border-color: #EAE6E6;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spsec8 {
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
}

.sec9 {
    height: 300px;
    width: 1512px;
    left: -2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.dsec9 {
    width: 400px;
    height: 260px;
    font: Roboto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tsec9 {
    font-size: 19px;
    color: #4B4B4B;
    display: flex;
    align-items: center;
    text-align: center;
}

.csec9 {
    width: 288.61px;
    font-size: 15px;
    color: #999999;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 9px;
}

.vsec9 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: #3483FA;
}

footer {
    height: 156px;
    margin-top: 53px;
    padding-top: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #999999;
}

.marfoot {

    margin-left: 166px;
    display: flex;
    flex-direction: column;
}

.divfoot {
    font-size: 12px;
    color: #333333;
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.coldiv {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}